$start:rgba(66,181,213,0.5);
$end:rgba(58,210,11,0.5);;

body{
  font-family:arial;
  background-image: -moz-linear-gradient(30deg, $start 0%, $end 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,$start), color-stop(100%,$end));
	background: -webkit-linear-gradient(30deg, $start 0%,$end 100%);
	background: -o-linear-gradient(30deg, $start 0%,$end 100%);
	background: -ms-linear-gradient(30deg, $start 0%,$end 100%);
	background: linear-gradient(30deg, $start 0%,$end 100%);
}

h1{
  font-size:1.2em;
  text-align:center;
}

.panel{
  background:rgb(250,250,250);
  padding:1em;
  width:92.5%;
  margin:auto;
  max-width:30em;
}

input{
  width:100%;
  box-sizing:border-box;
  font-size:1em;
  margin-top:0.5em;
  padding:0.5em;
}

input:focus{
  outline:none;
}

input::after{
  width:100%;
  height:10px;
  background:red;
}
.nav-list{
  width:92.5%;
  max-width:30em;
  text-align:center;
  margin:auto;
  li{
  list-style:none;
  display:inline-block;
    background:rgba(193,66,66,0.5);
    padding:0.7em;
    margin:0 0.1em;
  }
  li.active{
    background-color:rgba(193,66,66,0.95);
  }
}
